<form action="../ToDoList/AddToDoList" method="post">
    <input type="text" name="Name" placeholder="Name" class="form-control mb-4" />
    <input type="text" name="Description" placeholder="Discription" class="form-control mb-4" />
    <input type="date" name="DueDate" placeholder="Due Date" class="form-control mb-4" />
   
    <div class="form-control mb-4">
        Complete? <input type="checkbox" name="Complete" value="true" />
        <input type="checkbox" name="Complete" value="false" hidden />
    </div>
    
    <input type="submit" value="Add this To Do!" class="form-control mb-4" />
</form>